.form {
    margin: 5vh auto 1vh;
    width: fit-content;
}

.control {
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0;
    margin-bottom: 2vh;
}

.control input {
    padding: 2vh;
    border-radius: 10px;
    width: 60vw;
    max-width: 700px;
}

.button {
    cursor: pointer;
    font: inherit;
    font-size: 2rem;
    color: white;
    background-color: #03be9f;
    border: 1px solid #03be9f;
    border-radius: 4px;
    padding: 0 2.5rem;
}

.button:hover{
    background-color: #037a67;
}