.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toggle {
    margin-top: 1rem;
    background-color: transparent;
    color: #03be9f;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    padding: 0.15rem 1.5rem;
    cursor: pointer;
}

.toggle:hover{
    color: #037a67;
}